<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>
<body>

<header>
Ratings

{% if "user_id" in session %}
  <a href="/log-out">Log out</a>
{% else %}
  <a href="/login-form">Log in</a>
{% endif %}
 <a href="/movies">Movies</a>
 <a href="/users">Users</a>
 <a href="/">Home</a>
</header>
    <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          <div class='alert alert-warning'>{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %} 

  {% block content %}  

  {% endblock %}
  
</body>
</html>

